---
import BaseLayout from "../layouts/BaseLayout.astro"
import Image from "../components/Image.astro"
---

<BaseLayout>
    <h1 class="leading-tight tracking-tighter text-4xl">Hello</h1>

    <Image />
</BaseLayout>
